[Unit]
Description= ce service cest pour quand ont met un fichier dans le dossier toCrypt elle va execute le scripte pour le mettre dans crypted

[Service]
Type=simple
User=%i
ExecStart= ~/Dossier_source/script/crypt.py start
Restar=on-failure

