[Unit]
Description= ce service cest pour quand ont met un fichier dans le dossier toCrypt elle va execute le scripte pour le mettre dans crypted

[Service]
User=%i
ExecStart= ~/Dossier_source/
